<div class="textCenter">

  <h1>Current Trips</h1>
  <md-divider></md-divider>

  <div>{{flightListCtrl.message}}</div>

  <div layout="column">

    <!-- current trips -->
    <div layout="column" layout-align="center start" layout-margin>
      <div ng-repeat="trip in flightListCtrl.tripList | orderBy: 'departDay'">

        <div layout="row" flex>
          <md-button flex="20" class="md-raised" aria-label="Select" ng-click="flightListCtrl.cancelTrip(trip)">
            Cancel
          </md-button>
          <div flex="15">
            Depart on Day={{trip.departDay}}
          </div>
          <div flex="15">
            Arrive on Day={{trip.arriveDay}}
          </div>
          <div flex="15">
            #Flights={{trip.numFlights}}
          </div>
          <div flex="20">
            From={{trip.orginCity}}, {{trip.orginState}}
          </div>
          <div flex="20">
            To={{trip.destionationCity}}, {{trip.destinationState}}
          </div>
        </div>

        <md-divider></md-divider>
      </div>

    </div>
  </div>
</div>
