<!DOCTYPE html>
<html ng-app="flights" lang="en">

<head>
  <title>CookSys Airways</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' type='text/css'>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="./index.css">

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
  <script src="./bower_components/angular-bcrypt/dist/dtrw.bcrypt.js"></script>

  <base href="/flights/" />

  <script src="./app/user/user.module.js"></script>
  <script src="./app/user/profile.controller.js"></script>
  <script src="./app/user/user.service.js"></script>
  <script src="./app/user/user.routes.js"></script>
  <script src="./app/user/user.config.js"></script>

  <script src="./app/access/access.module.js"></script>
  <script src="./app/access/login.controller.js"></script>
  <script src="./app/access/register.controller.js"></script>
  <script src="./app/access/access.service.js"></script>
  <script src="./app/access/access.routes.js"></script>
  <script src="./app/access/access.config.js"></script>

  <script src="./app/app.module.js"></script>
  <script src="./app/app.controller.js"></script>
  <script src="./app/app.config.js"></script>
  <script src="./app/app.run.js"></script>

  <!-- <script src="./app/nav_bar/nav.controller.js"></script> -->

  <!-- <script src="https://cdn.rawgit.com/Luegg/angularjs-scroll-glue/master/src/scrollglue.js"></script> -->

</head>

<body ng-cloak>

  <md-toolbar class="row" ng-controller="AppController as app" style="box-shadow: 2px 2px 5px #888888;">
    <div class="md-toolbar-tools">

      <h1>CookSys Airways</h1>

      <md-divider></md-divider>

      <h3 ng-if="app.accessService.isLoggedIn()" style="font-size: 14dp; float: right; text-align: right; margin-right: 5px;">
          Logged in as:<br>{{app.accessService.currentUser.firstName}} {{app.accessService.currentUser.lastName}}
      </h3>

      <md-button class="md-raised" aria-label="Login" ng-click="$state.go('login')" ng-if="$state.is('register')">
        Login
      </md-button>

      <md-button class="md-raised" aria-label="Logout" ng-click="app.accessService.logout()" ng-if="app.accessService.isLoggedIn()">
        Logout
      </md-button>

      <md-button class="md-raised" aria-label="Register" ng-click="$state.go('register')" ng-if="$state.is('login')">
        Register
      </md-button>

    </div>
  </md-toolbar>

  <div ui-view>
  </div>

</body>

</html>
