<div class="space-bot textCenter">
     <h1>Login</h1>
    <md-divider></md-divider>
  <form class="form-login" name="login" novalidate style="margin-top: 10px;">
    <div class="input-field">
      <div>
        <input id="email" type="email" name="email" ng-model="$login.credentials.email" class="validate" required>
      </div>
      <div>
        <label for="email">Email</label>
      </div>
    </div>
    <div>
    <p class="alert alert-danger" ng-show="form-login.email.$error.email">Your email is invalid.</p>
  </div>
    <div class="input-field">
      <div>
        <input id="password" type="password" name="password" ng-model="$login.credentials.password" ng-minlength='6' class="validate" required>
      </div>
      <div>
        <label for="password">Password</label>
      </div>
    </div>
    <div class="space-top textCenter">
    <p class="alert alert-danger" ng-show="form-login.password.$error.minlength || form.password.$invalid">Your password must be at least 6 characters.</p>
  </div>
    <div>
      <md-button class="md-raised md-primary" ng-disabled="form-login.$invalid" ng-click=$login.login()>
        Login
      </md-button>
      <div>{{$login.errorMessage}}</div>
    </div>
  </form>
</div>
