<div layout="column" layout padding style="width: 100vw; height: 100vh;">

  <div>
    <h1>Sign Up</h1>
  </div>

  <md-divider></md-divider>

  <div style="text-align: center; margin-top: 10px;">
    <form class="form-register" name="register" novalidate>

      <div class="input-field">
        <input id="first-name" type="text" class="validate" required ng-model="$register.user.firstName">
        <span>
          <label for="first-name">First Name</label>
        </span>
      </div>

      <div class="input-field">
        <input id="last-name" type="text" class="validate" required ng-model="$register.user.lastName">
        <span>
          <label for="last-name">Last Name</label>
        </span>
      </div>

      <div class="input-field">
        <input id="email" type="email" name="email" ng-model="$register.user.email" class="validate" required>
        <span>
          <label for="email">E-mail</label>
        </span>
      </div>

      <p class="alert alert-danger" ng-show="form-register.email.$error.email">Your email is invalid.</p>

      <div class="input-field">
        <input id="password" type="password" name="password" ng-model="$register.user.password" ng-minlength='6' class="validate" required>
        <span>
          <label for="password">Password</label>
        </span>
      </div>

      <p class="alert alert-danger" ng-show="form-register.password.$error.minlength || form.password.$invalid">Your password must be at least 6 characters.</p>

      <div class="input-field">
        <input type="date" class="validate" name="birthDate" ng-model=$register.user.birthDate required>
        <span>
          <label for="birthdate">Birthdate</label>
        </span>
      </div>

      <div class="space-top textCenter">
        <md-button class="md-raised md-primary" ng-disabled="form-register.$invalid" ng-click=$register.register()>
          Register
        </md-button>
        <md-button class="md-raised md-primary" ng-click="$register.user = null;">
          Cancel
        </md-button>
        <div>{{$register.errorMessage}}</div>
      </div>
    </form>
  </div>
</div>
